<mat-card class="order">
  <!-- Header with name and buttons edit and delete -->
  <mat-card-header class="order-banner">
    <div class="order-name">
      <mat-card-title>{{ order.name }}</mat-card-title>
      <mat-card-subtitle>Precio: $ {{ order.price }}</mat-card-subtitle>
    </div>
    <div>
      <mat-card-actions *ngIf="isAdmin">
        <app-action-buttons [target]="order" [isOrder]="true" (updateEmitter)="update()" ></app-action-buttons>
      </mat-card-actions>
    </div>
  </mat-card-header>

  <!-- Content with price, categories and food -->
  <mat-card-content>
    <!-- Catetgories -->
    <div class="category" *ngFor="let c of categoriesFoods">
      <div *ngIf="c.foods.length>0">
        <span class="category-banner">{{ c.name }}</span>
        <mat-card-content>
          <!-- Foods -->
          <mat-card *ngFor="let f of c.foods" class="foods">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{ f.name }}</mat-card-title>
                <mat-card-subtitle>{{ f.amount }}</mat-card-subtitle>
                <img mat-card-image [src]="f.picture" />
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </mat-card-content>
      </div>
    </div>
  </mat-card-content>
</mat-card>
