<div class="category">
  <!-- Title -->
    <div class="category-banner">
      <h2>
        {{ category.name }}
      </h2>
    </div>

  <!-- Foods -->
  <mat-card-content class="foods">
    <div *ngFor="let food of foods" align="center">
      <app-food [food]="food"></app-food>
    </div>
    <!-- If are not foods -->
    <div *ngIf="!foods || foods.length == 0">
      <mat-card-title
        >No se encontraron comidas, presiona + para añadir</mat-card-title
      >
    </div>
  </mat-card-content>
</div>
