<mat-card class="category">
  <!-- Title -->
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ category.name }}
      </mat-card-title>
      <button mat-icon-button><mat-icon>add</mat-icon></button>
    </mat-card-title-group>
  </mat-card-header>

  <!-- Foods -->
  <mat-card-content class="foods">
    <div *ngFor="let food of foods" align="center">
      <app-food [food]="food"></app-food>
    </div>
    <!-- If are not foods -->
    <div *ngIf="!foods || foods.length == 0">
      <mat-card-title
        >No se encontraron comidas, presiona + para añadir</mat-card-title
      >
    </div>
  </mat-card-content>
</mat-card>
