<!-- Food -->
<mat-card class="food">
  <!-- Picture -->
  <img mat-card-image [src]="food.picture" />
      <div class="info-container">
        <!-- Name, amount and price -->
        <mat-card-title>{{ food.name }}</mat-card-title>
        <mat-card-subtitle>Cantidad: {{ food.amount }}</mat-card-subtitle>
        <mat-card-subtitle>Precio: ${{ food.price }}</mat-card-subtitle>
      </div>
    
    <!-- Buttons for edit and delete -->
    <mat-card-actions class="buttons" *ngIf="isAdmin">
      <app-action-buttons [target]="food" [isOffer]="false" (updateEmitter)="update()"></app-action-buttons>
    </mat-card-actions>
  </mat-card>
  