<div mat-dialog-content class="food">
    <div mat-dialog-title class="food-title">{{ headerTitle }}</div>

    <div class="picture-container">
        <img [src]="currentPicture" class="picture" (error)="pictureError()">
    </div>

    <mat-form-field #inputPicture >
        <mat-label> Url de la imagen </mat-label>
        <input matInput [(ngModel)]="picture" (input)="currentPicture = picture" required maxlength="255">
    </mat-form-field>

    <mat-form-field #inputName>
        <mat-label> Nombre </mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>

    <mat-form-field #inputPrice>
        <mat-label> Precio </mat-label>
        <input matInput [(ngModel)]="price" required type="number">
    </mat-form-field>

    <mat-form-field #inputAmount>
        <mat-label> Cantidad </mat-label>
        <input matInput [(ngModel)]="amount" required>
    </mat-form-field>

    <mat-form-field #inputCategoryId>
        <mat-label> Categoria </mat-label>
        <mat-select [(ngModel)]="categoryId" require>
            <mat-option *ngFor="let category of categories" [value]="category.id" >
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-icon-button (click)="onClickAcept()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="onClickNo()"><mat-icon>delete</mat-icon></button>
    </div>
</div>

