<mat-form-field class="search-input">
  <mat-label><mat-icon>search</mat-icon> Buscar </mat-label>
  <input #searchInput matInput (input)="update()" />
</mat-form-field>
<mat-toolbar class="offer-banner">
  <h2>Ofertas</h2>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="offers">
  <mat-spinner *ngIf="loading" [diameter]="34"></mat-spinner>
  <div *ngFor="let offer of offers">
    <app-offer [offer]="offer"></app-offer>
  </div>
  <h2 class="not-found" *ngIf="(!offers || offers.length == 0) && !loading">No se encontraron ofertas, presiona + para añadir</h2>
</div>

<!-- Paginator -->
<div *ngIf="offers" class="paginator">
  <app-paginator
    [length]="count"
    [pageSize]="10"
    (updatePagination)="updateOffset($event)"
  ></app-paginator>
</div>

