.offer-banner{
    background-color: #FFEE58;
    position: fixed;
    z-index: 5;
    padding: 1em 15em;
}

.spacer{
    flex: auto;
}

.offers{
    margin: 6em 10em 0;
}

.search-input{
    position: fixed;
    z-index: 15;
    top: 0.2em;
    right: 5em; 
}

.not-found{
    margin: 0 200px;
}