<mat-card class="offer">
  <!-- Header with name and buttons edit and delete -->
  <mat-card-title-group>
    <mat-card-title>
      {{ offer.name }}
    </mat-card-title>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card-title-group>

  <!-- Content with price, categories and food -->
  <mat-card-content>
    <mat-card-title>Precio: {{ offer.price }} $</mat-card-title>
    <!-- Catetgories -->
    <mat-card *ngFor="let c of categoriesFoods">
      <mat-card-title>{{ c.name }}</mat-card-title>
      <mat-card-content>
        <!-- Foods -->
        <mat-card *ngFor="let f of c.foods">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ f.name }}</mat-card-title>
              <mat-card-subtitle>{{ f.amount }}</mat-card-subtitle>
              <img mat-card-image [src]="f.picture" />
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
