.category-banner{
    background-color: #FFEE58;
    display: flex;
    position: fixed;
    z-index: 5;
    padding: 1em 10em;
}

.foods {
    margin: 64px 10em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.spacer{
    flex: auto;
}