<mat-toolbar class="nav-bar">
    <span class="title">Menú</span>
    <div class="comp-nav">
      <button mat-button [routerLink]="['/categories']" routerLinkActive="active">Inicio</button>
      <button mat-button [routerLink]="['/foods']" routerLinkActive="active">Platos</button>
      <button mat-button [routerLink]="['/offers']" routerLinkActive="active">Ofertas</button>
    </div>
    <div *ngIf="isAuth"  class="user-nav"> 
      <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
