.nav-bar {
  background-color:#FBC02D;
  padding: 0.7em;
  z-index: 10;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.title{
  font-size: 2em;
  color: #fff;
  margin: auto 2em auto 0.3em;
}
.comp-nav button {
  margin-left: 1em;
}

.active {
  background-color: #F9A825;
}

main{
  padding-top: 64px;
}

.divider{
  flex:auto
}

.user-nav{
  position: fixed;
  z-index: 15;
  top: 1em;
  right: 1em; 
}